<div id="homeJumbo" class="jumbotron">
  <div class="container">
    <h1>Save your favorite GIFs!</h1>
    <p>Access your GIF library from anywhere, on any device!</p>
  </div>
</div>
<div id="recently-added">
  <h2>Recently locked in a safe!</h2>
  <div class="row">
    <% Gif.last(3).each do |gif| %>
    <div class="col-md-4">
      <h3><%=gif.tag%></h3>
      <p><%= gif.url %></p>
    </div>
    <% end %>
  </div>
</div>
