/*
  *= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "gifs.scss";
@import "home.scss";

//General Styling
.header-form {
	color: white;
	width: 250px;
}

#navigation {
	margin: 0px;
	border-radius: 0px;
}
body {
  background: #101010;
}

a {
	color: white;
	text-decoration: underline;
}
footer {
	margin: 0 0 0 25%;
}
//GIF Styling
#add-gif {
	float: right;
	margin:0px 50px;
	padding: 20px;
}
.gif-tag {
	color: white;
	background-color: #47454C;
	display: inline-block;
	text-align: center;
	width: auto;
	padding: 0 20px;
}
.gif-text {
	color: white;
}
.gif-url {
	color: black;
}
.gif-tag-url {
  color: white;
	background-color: #47454C;
	display: inline-block;
	text-align: center;
	width: auto;
	padding: 0 20px;
}
.center {
	text-align: center;
}
.col-md-4 {
	margin: 10px;
	padding: 15px;
}

//Devise Styling
.devise-trim {
	width: 250px;
}
